@model IEnumerable<Web_Ban_Giay_2.Models.Entities.ChiTietMau>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Giay.Tengiay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mau.Tenmau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghichu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Giay.Tengiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mau.Tenmau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghichu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
