@model Web_Ban_Giay_2.Models.Entities.Giay
@using Web_Ban_Giay_2.Models.Entities;
@{
    ViewBag.Title = "ChiTiet_SP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-ct">

    <!-- Tabs -->
    <!-- <div class="tabs">
        <ul>
            <li><a href="#" class="active"><span>Safety Shoes</span></a></li>
            <li><a href="#"><span>Sport Shoes</span></a></li>
            <li><a href="#" class="red"><span>More Shoes</span></a></li>
        </ul>
    </div> -->
    <!-- Tabs -->
    <!-- Container -->
    <div id="container-ct">

        <div class="tabbed-left">

            <div class="items-ct">
                <img src="@Model.Hinhanh">
            </div>

            <div class="ct-sp">
                <h2>@Html.DisplayFor(model => model.Tengiay)</h2>
                <p>Thương hiệu : @Html.DisplayFor(model => model.NhaSanXuat.Tennhasx)</p>
                <p>Loại giày : @Html.DisplayFor(model => model.LoaiGiay.Tenloaigiay)</p>
                <br />
                <div class="ct-color">
                    <p>Chọn màu :</p>
                    <select>
                        @{
                            foreach (var i in Model.ChiTietMaus.Select(x => x.Mau))
                            {
                                <option>@i.Tenmau</option>
                            }
                        }

                        @*<option>Đỏ</option>
                        <option>Đen</option>
                        <option>Trắng</option>*@
                    </select>
                </div>

                <div class="ct-color">
                    <p>Chọn size :</p>
                    <select>
                        @{
                            foreach (var i in Model.ChiTietSizes.Select(x => x.Size))
                            {
                                <option>@i.Sosize</option>
                            }
                        }

                        @*<option>36</option>
                        <option>37</option>
                        <option>38</option>*@
                    </select>
                </div>
                <br />

                <div class="amount" style="padding-top: 15px;">
                    <input type="number" name="" value="1" min="1" style="float: left;">
                    <p style="float: left;">Giá bán : <span>@Model.Giaban đ</span></p>
                </div>
                <br />
                <div class="buy">
                    <div class="buy-sp">
                        <button><a>Mua ngay</a></button>
                    </div>

                    <div class="cart-sp">
                        <button><a>Thêm vào giỏ</a></button>
                    </div>
                </div>
            </div>

            <div class="decreption">
                <h2>Mô tả sản phẩm :</h2>
                <p style="font-size: 13px;">Mẫu giày hot nhất 2018 ...</p>
            </div>
        </div>
        <!-- End Container -->

        <div class="tabbed-right">
            <h2>Chỉ có tại BestShoes</h2>

            <li class="sidebar-1"><img src="~/Content/images/icon_1.png"><p>Yên tâm mua sắm</p></li>
            <p class="p-side">BestShoes đảm bảo giao dịch, hỗ trợ khiếu nại, đổi trả xuyên quốc gia dễ dàng, bảo vệ người mua</p>

            <li class="sidebar-1"><img src="~/Content/images/icon_2.png"><p>Không lo thủ tục</p></li>
            <p class="p-side">Người bán chuyển hàng, hoàn tất thủ tục nhập khẩu, giao hàng tận tay</p>

            <li class="sidebar-1"><img src="~/Content/images/icon_3.png"><p>Tận hưởng giá shock toàn cầu</p></li>
            <p class="p-side">Liên tục cập nhật khuyến mãi trên toàn thế giới, tham gia sự kiện Black Friday, Cyber Monday,...</p>

            <li class="sidebar-1"><img src="~/Content/images/icon_4.png"><p>Thêm tiết kiệm, hưởng ưu đãi</p></li>
            <p class="p-side">Tích lũy điểm thưởng, mã giảm giá. Miễn phí giao hàng toàn quốc</p>

            <li class="sidebar-1"><img src="~/Content/images/icon_5.png"><p>Hệ thống thông minh</p></li>
            <p class="p-side">Gợi ý mua sắm ở đâu, khi nào. Công cụ săn giảm giá xuyên quốc gia 24/7</p>
        </div>

    </div>
    <!-- End Content -->

</div>

