@model IEnumerable<Web_Ban_Giay_2.Models.San_Pham>

@{
    ViewBag.Title = "San_Pham";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

    <div class="title-sp">
        <h2>Sản Phẩm</h2>

        <button>
            <p>
                @Html.ActionLink("Thêm mới", "Create_SP")
            </p>
        </button>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenGiay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit_SP", new { id = item.Id }) |
            @Html.ActionLink("Chi Tiết", "Details_SP", new { id = item.Id }) |
            @Html.ActionLink("Xóa", "Delete_SP", new { id = item.Id })
        </td>
    </tr>
        }

    </table>
