@*@model IEnumerable<Web_Ban_Giay_2.Models.Entities.Giay>*@

<!-- Thêm thư viện -->
@model PagedList.IPagedList<Web_Ban_Giay_2.Models.Entities.Giay>
@using PagedList.Mvc;
<!-- Kết thúc-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
    <div style="width: 81%;">
        <div class="title-sp">
            <h2>Sản Phẩm</h2>

            <button>
                <p>
                    @Html.ActionLink("Thêm mới", "Create")
                </p>
            </button>
        </div>
        <table class="table">
            <tr>
                <th>
                    Tên Giày
                </th>
                <th>
                    Giá Bán
                </th>
                <th>
                    Màu
                </th>
                <th>
                    Size
                </th>
                <th>
                    Danh Mục
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tengiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @foreach (var mau in item.ChiTietMaus)
                {
                    <span>
                        @mau.Mau.Tenmau,
                    </span>
                }
            </td>
            <td>
                @foreach (var size in item.ChiTietSizes)
                {
                    <span>
                        @size.Size.Sosize,
                    </span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiGiay.Tenloaigiay)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Magiay }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Magiay }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Magiay })
            </td>
        </tr>
            }

        </table>
        <div style="margin-left:15px; margin-bottom:40px;">
            <!-- Thêm mã phân trang -->
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
            <!-- Kết thúc -->
        </div>
    </div>